/* Global styles */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Header styles */
.App-header, .App-footer {
  background-color: #282c34;
  color: white;
  padding: 20px;
  font-size: calc(10px + 2vmin);
}

/* Personal note and contact info styling */
.personal-note {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  color: #444;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  line-height: 1.6;
}

.contact-info {
  margin-top: 20px;
  font-weight: bold;
}

/* Carousel styles */
.carousel-root {
  margin: 20px auto;
  max-width: 80%; /* Adjusted width for desktop */
}

.carousel .slide {
  padding: 0 15px; /* Add space between slides */
  background: none;
}

.carousel .slide img {
  max-width: 100%;
  max-height: 250px; /* Adjust this value as needed */
  margin: 0 auto; /* Center the image */
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  filter: invert(100%);

}

/* App sections */
.app-section {
  margin: 40px 0; /* Increased spacing */
}

.app-section h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .carousel .slide img {
    max-height: 1000px; /* Larger images for larger screens */
  }
  .carousel .slide {
    padding: 0 20px; /* More space between slides */
  }
}

@media (max-width: 768px) {
  .personal-note, .app-section {
    max-width: 90%;
  }
  .carousel .slide img {
    max-height: 200px; /* Adjust for medium screens */
  }
  .carousel-root {
    max-width: 90%; /* Adjusted width for mobile */
  }
}

@media (max-width: 600px) {
  .personal-note, .app-section {
    max-width: 95%;
  }
  .carousel .slide img {
    max-height: 150px; /* Adjust for small screens */
  }
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  WebkitOverflowScrolling: 'touch';
  borderRadius: '4px';
  outline: none;
  padding: 20px;
  max-width: 90%; /* Limit the modal's max width */
  max-height: 90%; /* Limit the modal's max height */
}

/* Style the close button */
.ReactModal__Content button {
  /* Add your button styles here */
}

.modal-image {
  max-width: 100%; /* Make image responsive */
  max-height: 80vh; /* Limit image height to viewport */
  object-fit: contain; /* Maintain aspect ratio */
}

.modal-close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #333; /* Close icon color */
  font-size: 1.5rem; /* Close icon size */
}